.header {
    h1 {
        font-size: 32px;
        font-weight: bold;
        margin: 10px 0 20px;
    }
    
    &:nth-child(n) {
        margin: auto;
    }
}

.update-spinner {
    margin: 5px 25px;
}

.meta {
    font-size: 12px;
    margin-top: 5px;
    span {
        color: #999999;
    }
}