<mat-toolbar color="primary">
    <button fxHide.gt-sm mat-icon-button (click)="sidenav.toggle()">
        <mat-icon class="menu">menu</mat-icon>
    </button>
    <h1>
        <a routerLink="">
            <button mat-button>
                <img src="../assets/favicon.png" alt="kickstats icon">
                {{title}}
            </button>
        </a>
    </h1>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" autosize ngClass.xs="mobile">
    <mat-sidenav class="sidenav" [mode]="isMobile ? 'over' : 'side'" [opened]='!isMobile' #sidenav (click)="isMobile && sidenav.toggle()">
        <div *ngFor="let user of users" class="user">
            <a routerLink="user/{{user}}" routerLinkActive="active-route">
                <button mat-button>
                    {{user}}
                </button>
            </a>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>