html, body { height: 100%; }
body { margin: 0; }
a {
    text-decoration: none;
    color: inherit;
}

:root {
    --background: #303030;
    --primary: #c62828;
    --accent: #37474f;
}

::-webkit-scrollbar {
    width: 5px;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #777777;
}

.mat-tab-body-wrapper {
    margin: 40px 0;
}

td, th {
    padding: 5px !important;
    &.right {
        text-align: right !important;
    }
    &.center {
        text-align: center !important;
    }
}

tr {
    >:first-child {
        padding-left: 10px !important;
    }
    >:last-child {
        padding-right: 10px !important;
    }
}

tr.td-row:hover {
    background-color: #383838;
}

.mat-icon {
    vertical-align: middle;
}

.highlight-grid {
    margin: 0 0 0 30px !important;
}

.mat-tooltip {
    margin-top: 5px !important;
    text-align: center;
}

html { height: 100vh; }
body { height: 100%; }